/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0; /* Fundo claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
  text-align: center;
  position: relative;
  color: #333; /* Cor do texto mais escura */
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333; /* Cor do título mais escura */
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 80px); /* Reduzindo o tamanho das casinhas para dispositivos móveis */
  grid-template-rows: repeat(3, 80px);
  gap: 5px; /* Espaço entre as casinhas */
  background-color: #ffcc00; /* Fundo amarelo */
  border: 4px solid #f0f0f0; /* Borda grossa clara */
  padding: 5px; /* Espaço interno */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
  border-radius: 10px; /* Bordas arredondadas */
}

.casinha {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background-color: #ffffff; /* Fundo branco para casinhas */
  color: #333; /* Cor do texto mais escura */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
  border-radius: 8px; /* Bordas arredondadas */
}

.casinha.gray {
  background: #f0f0f0; /* Fundo cinza claro para casinhas com classe gray */
  color: #333; /* Texto mais escuro para casinhas com classe gray */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto translúcido */
  display: none;
  justify-content: center;
  align-items: center;
}

#overlay.visible {
  display: flex; /* Mostra o overlay quando necessário */
}

#overlay-content {
  text-align: center; /* Centraliza o conteúdo */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff; /* Fundo branco */
}

#vencedor {
  color: #333; /* Cor do texto mais escura para mensagem de vencedor */
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00; /* Fundo amarelo para botão */
  color: #333; /* Texto mais escuro para botão */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px; /* Bordas arredondadas */
}

button:hover {
  background-color: #ffa500; /* Mudança de cor ao passar o mouse */
}
